<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div class="col-md-12">
        <div class="form-group">
            <table>
                <tbody>
                <tr>
                    <td>Upload successful and categorized as</td><td th:text="${category}"></td>
                </tr>
                <tr><td><a href="/mydocument" class="nav-link">Home</a></td></tr>
                </tbody>
            </table>
        </div>
    </div>
</body>
</html>